body {
  margin: 0;
  padding: 0;

  width: 322px;

  font-family: "Open Sans";
  color: #333333;
  font-weight: bold;

  background-color: #ffffff;
}

h1, h2 {
  font-size: 25px;
  line-height: 30px;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}
