@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensansbold.woff2") format("woff2"), url("fonts/opensansbold.woff") format("woff");
}


body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;

  color: #333333;
  font-weight: bold;

  background-color: #ffffff;
}

h1,
h2 {
  font-size: 27px;
  text-align: left;

  line-height: 30px;
  color: black;
}

h3 {
  padding-bottom: 0;
  padding-top: 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

input {
  line-height: 18px;
}

input[type="radio"] {
  display: none;
}

fieldset {
  border: none;
}

input::-webkit-input-placeholder {
  opacity: 0.3;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  opacity: 0.3;
  font-size: 17px;
  padding-top: 18px;
  padding-left: 17px;
}
