@mixin button {
  font: {
    size: 17px;
    height: 16px;
    weight: bold;
  }
  color: #444444;
  text-align: center;
  width: 259px;
  height: 52px;
  background-color: #ffffff;
  border: solid 2px #444444;
  text-transform: uppercase;
  outline: none;
  &:hover {
    color: #ffffff;
    background-color: #444444;
  }
  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}
