.catalog-popups {
  width: 320px;
  height: 336px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
