.catalog-popups {
  position: absolute;
  display: none;

  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  text-align: center;
}

.modal-show {
  display: block;
}

.modal {
  left: 50%;
  top: 196%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 336px;
}

@media (min-width: 768px) {
  .catalog-popups {
    width: 566px;
    height: 336px;
  }
}
