.color-list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 27px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

.color-list__color-item {
  position: relative;
  display: block;
  user-select: none;
  padding-bottom: 43px;
  padding-left: 92px;
}

.color-list__color-input + label::before {
  content: "";
  border: solid 2px #444444;
  position: absolute;
  left: 0;
  top: -10px;
  cursor: pointer;
  width: 40px;
  height: 39px;
}

.color-list__color-input:checked + label::after {
  content: "";
  background-image: url("img/icon-tick.svg");
  position: absolute;
  left: 0;
  top: -10px;
  width: 25px;
  height: 25px;
}

@media (min-width: 768px) {
  .color-list {
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 19px;
  }

  .color-list__color-item {
    width: 168px;
    margin-bottom: 20px;
  }

  .color-list__color-item:nth-child(1) {
    width: 168px;
    margin-top: 66px;
  }

  .color-list__color-item:nth-child(2) {
    margin-top: 66px;
  }

  .color-list__color-item:nth-child(5) {
    margin-bottom: 30px;
  }

  .color-list__color-item:nth-child(6) {
    margin-bottom: 30px;
  }

  .color-list__color-input + label::before {
    width: 54px;
    height: 52px;
    left: 0;
    top: -20px;
  }

  .color-list__color-input:checked + label::after {
    width: 33px;
    height: 22px;
    left: 12px;
    top: -5px;
  }
}

@media (min-width: 1250px) {
  .color-list__color-item {
    width: 168px;
    margin-bottom: 20px;
  }

  .color-list__color-item:nth-child(3) {
    margin-bottom: 0;
    margin-top: 67px;
  }
}
