.color-list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 35px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

.color-list__color-item label {
  position: relative;
  display: block;
  user-select: none;
  margin-top: 24px;
  padding-left: 66px;
  padding-bottom: 19px;
}

.color-list__color-input + label::before {
  content: "";

  border: solid 2px #444444;
  position: absolute;
  left: 0;
  top: -10px;
  cursor: pointer;
  width: 37px;
  height: 35px;
}

.color-list__color-input + label:hover::before,
.color-list__color-input:checked + label:hover::before {
  border: solid 2px #62d1ba;
}

.color-list__color-input + label:active::before,
.color-list__color-input:checked + label:active::before {
  border: solid 2px #444444;
  opacity: 0.3;
}

.color-list__color-input[type=checkbox]:focus + label::before {
  border: solid 2px #62d1ba;
}

.color-list__color-input:checked + label::after {
  content: "";
  position: absolute;

  background-image: url("../img/icon-tick.svg");
  background-size: 22px 16px;
  left: 9px;
  top: 3px;
  width: 22px;
  height: 16px;
}

@media (min-width: 768px) {
  .color-list {
    margin-left: 0;
    margin-top: 0;
    margin-right: 48px;
    padding-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    font-size: 19px;
  }

  .color-list__color-item {
    width: 168px;
    margin-bottom: 22px;
  }

  .color-list__color-item label {
    margin-top: 23px;
    padding-left: 82px;
    padding-bottom: 14px;
  }

  .color-list__color-item:nth-child(1) {
    width: 168px;
    margin-top: 45px;
  }

  .color-list__color-item:nth-child(2) {
    margin-top: 45px;
  }

  .color-list__color-item:nth-child(2n) {
    margin-left: 92px;
  }

  .color-list__color-input + label::before {
    width: 50px;
    height: 48px;
    left: 0;
    top: -18px;
  }

  .color-list__color-input:checked + label::after {
    background-size: 33px 22px;

    width: 33px;
    height: 22px;
    left: 12px;
    top: -1px;
  }
}

@media (min-width: 1150px) {
  .color-list__color-item {
    width: 168px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .color-list__color-item:nth-child(2n) {
    margin-left: 96px;
    margin-right: 96px;
  }

  .color-list__color-item:nth-child(3) {
    margin-bottom: 0;
    margin-top: 45px;
  }

  .color-list__color-item:nth-child(n+4) {
    margin-left: 0;
    margin-right: 96px;
  }
}
