.contact-title {
  font-size: 18px;
  line-height: 30px;
  padding-left: 30px;
  margin-top: 86px;
  margin-bottom: 26px;
}

@media (min-width: 772px) {
  .contact-title {
    font-size: 43px;
    line-height: 50px;
    padding-left: 0;
    margin-top: 90px;
    margin-left: 51px;
    margin-bottom: 48px;
  }
}

@media (min-width: 1250px) {
  .contact-title {
    width: 250px;
    margin-top: 152px;
    margin-left: 168px;

    font-size: 53px;
    line-height: 57px;
  }
}
