.contact-item__first {
  display: flex;
}

.contact-item__second {
  display: flex;
  margin-top: 29px;
}

@media (min-width: 768px) {
  .contact-item__first {
    margin-left: 51px;
  }

  .contact-item__second {
    margin-left: 53px;
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .contact-item__first {
    margin-left: 174px;
    margin-top: 2px;
    margin-right: 0;
  }

  .contact-item__second {
    margin-left: 175px;
    margin-top: 29px;
  }
}
