.button {
  text-decoration: none;
}

.copyright {
  position: relative;
  width: 182px;
}

.copyright a:focus {
  opacity: 0.3;
}

.copyright__link {
  display: block;

  position: relative;

  text-decoration: none;
  color: black;
  font-size: 19px;
  line-height: 18px;

  margin-top: 24px;
  margin-left: 68px;

  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  padding-bottom: 17px;
}

.copyright__link .copyright__academy-logo {
  position: absolute;
  width: 182px;
  height: 34px;
  transform: translateY(50%);
  bottom: 41%;
  left: 158px;
}

@media (min-width: 768px) {
  .copyright {
    width: 302px;
    margin-top: -13px;
  }

  .copyright__link {
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .copyright {
    margin-right: 50px;
  }

  .copyright--footer {
    margin-right: 0;
  }
}
