.copyright__text {
  line-height: 18px;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 19px;
  text-align: left;
}

.copyright__link {
  text-decoration: none;
  outline: none;
}
