@media (min-width: 768px) {
  .footer-logo {
    width: 102px;
    display: block;
    margin-bottom: 21px;
    outline: inherit;

    width: 102px;
    height: 34px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .footer-logo__icon {
    width: 102px;
    height: 34px;
  }
}
