@media (min-width: 768px) {
  .footer-logo {
    display: block;
    margin-bottom: 25px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}
