.form-title {
  @include form-title;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.form-title__type {
  @include form-title;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.form-title__color {
  @include form-title;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.form-title__user-name {
  @include form-title;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.form-main__data-title {
  @include form-title;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .form-title__type {
    margin-top: 0;
    padding-left: 0;
  }

  .form-title__color {
    margin-left: 52px;
    margin-top: 69px;
    margin-right: 121px;
  }

  .form-main__data-title {
    margin-top: 19px;
  }
}

@media (min-width: 1250px) {
  .form-title__color {
    margin-left: 111px;
    margin-top: 69px;
    margin-right: 86px;
  }
}
