.index-popups {
  position: absolute;

  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #fdebeb;
  text-align: center;
  display: none;
}

.index-popups__modal {
  left: 50%;
  top: 185%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 336px;
}

.index-popups__modal--visible {
  display: block;
}

@media (min-width: 768px) {
  .index-popups {
    width: 566px;
    height: 336px;
  }

  .index-popups__modal {
    top: 259%;
  }
}


@media (min-width: 1150px) {
  .index-popups__modal {
    top: 271%;
  }
}
