.index-popups {
  position: fixed;

  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #fdebeb;
  text-align: center;
  display: none;
}

.index-popups--modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 336px;
}

.index-popups--modal-visible {
  display: block;
}

@media (min-width: 768px) {
  .index-popups {
    width: 566px;
    height: 336px;
  }
}
