.item-cost {
  padding-top: 21px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  border-top: 1px solid #ececec;
}


@media (min-width: 768px) {
  .item-cost {
    font-size: 17px;
    padding-left: 0;
    margin-left: 29px;
    margin-right: 33px;
  }
}

@media (min-width: 1150px) {
  .item-cost {
    padding-top: 21px;
    padding-bottom: 0;
    margin-left: 23px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
