.name-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

.name-list__name-input {
  width: 260px;
  height: 52px;
  margin-bottom: 18px;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: inset 0 -2px 0 black;

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }
}

@media (min-width: 768px) {
  .name-list {
    margin-top: -18px;
    margin-left: 125px;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .name-list label {
    margin-right: 18px;
    font-size: 19px;
  }

  .name-list__name-input {
    width: 428px;
    margin-bottom: 20px;
  }

  .name-list__name-input::-webkit-input-placeholder {
    font-size: 19px;
    padding-left: 16px;
  }

  .name-list__input-second {
    width: 375px;
  }

  .name-list__input-third {
    width: 375px;
  }
}

@media (min-width: 1250px) {
  .name-list {
    margin-left: 75px;
  }

  .name-list__name-input {
    width: 626px;
  }

  .name-list__input-second {
    width: 581px;
  }

  .name-list__input-third {
    width: 581px;
  }
}
