.page-main__contacts {
  padding-left: 30px;
  text-align: left;
}

h2 {
  @extend %blacktitle;
  font-size: 18px;
}

.page-main__contacts-link {
  text-decoration: none;
  border-bottom: 1px solid #46c1ae;
  color: #444444;
  font-weight: normal;
  &:hover {
    color: #46c1ae;
  }
  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: rgba(70, 193, 174, 0.3);
  }
}

/*
 * Не забыть спросить Олю, о том как правильно стилизовать
 * ссылку в вид "кнопки", получается херня.
 */

.page-main__write-link {
  width: 259px;
  height: 52px;
  background-color: #ffffff;
  border: solid 2px #444444;
  text-align: center;
  &:hover {
    background-color: #444444;
  }
  &:active {
    background-color: #444444;
  }
}

.write-us {
  text-decoration: none;
  outline: none;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  text-transform: uppercase;
  color: #444444;
  &:hover {
    color: #ffffff;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
