.page-main__contacts {
  padding-left: 30px;
  text-align: left;
}

h2 {
  font-size: 18px;
}

.page-main__contacts {
  padding-left: 30px;
  text-align: left;
}

.page-main__contacts-link {
  text-decoration: none;
  border-bottom: 1px solid #46c1ae;
  color: #444444;
  font-weight: normal;
  &:hover {
    color: #46c1ae;
  }
  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: rgba(70, 193, 174, 0.3);
  }
}

.page-main__write-link {
  margin-top: 39px;
  margin-bottom: 39px;
  margin-left: 30px;
}
