.page-footer {
  width: 320px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.page-footer__copyright {
  position: relative;
  width: 182px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    height: 143px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    width: 122px;
  }

  .page-footer__logo {
    display: block;
    margin-left: 49px;
    order: -1;
  }

  .page-footer__copyright {
    width: 302px;
    margin-top: -13px;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    width: 1150px;
    height: 143px;
  }

  .page-footer__logo {
    margin-left: 50px;
  }

  .page-footer__copyright {
    margin-right: 0;
  }

  .page-footer__catalog {
    width: 1150px;
    height: 143px;
  }

  .page-footer__logo-catalog {
    margin-left: 51px;
  }
}
