.page-footer {
  width: 320px;
  height: 160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.page-footer__copyright {
  margin-top: 28px;
  position: relative;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    width: 122px;
  }

  .page-footer__logo {
    display: block;
    margin-left: 50px;
    order: -1;
  }

  .page-footer__logo-link {
    display: block;
    margin-bottom: 25px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__copyright {
    width: 302px;
    margin-top: -13px;
  }
}

@media (min-width: 1250px) {
  .page-footer {
    width: 1250px;
  }
}
