.page-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-header__delivery-text {
  display: none;
}

@media (min-width: 772px) {
  .page-header {
    width: 772px;
    margin: 0 auto;
  }

  .page-header::before {
    z-index: 0;
    position: absolute;
  }

  .page-header__logo {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-header__delivery-text {
    flex-basis: 231px;
    display: block;
    padding-right: 52px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 0;
    font-size: 15px;
    order: 4;
    line-height: 24px;
  }
}

@media (min-width: 1250px) {
  .page-header {
    width: 1150px;
    margin: 0 auto;
  }

  .page-header__delivery-text {
    flex-basis: 231px;
    margin-right: 0;
    padding-right: 52px;
  }
}
