.product-size__list label {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 16px;

  width: 79px;

  background-color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: #444444;
  border: solid 2px rgba(68, 68, 68, 0.1);

  &:hover {
    border: solid 2px rgba(68, 68, 68, 0.3);
  }
}

.product-size__list input[type="radio"]:checked + label {
  border: solid 2px #62d1ba;
}

.size[type="radio"]:focus + label {
  border: solid 2px rgba(68, 68, 68, 0.3);
}

@media (min-width: 768px) {
  .product-size__list label {
    width: 110px;
  }
}
