.product-list {
  margin: 0;
  padding: 0;
}

.product-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 31px;
  padding-right: 185px;
  text-align: left;
  background-color: #63d1bb;

  &:last-child {
    background-color: #56c3b2;
  }
}

.product-list__item:first-child::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 246px;

  width: 40px;
  height: 62px;

  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;

  opacity: 0.2;
}

.product-list__item:last-child::before {
  content: "";

  position: absolute;
  top: 21px;
  left: 235px;

  width: 60px;
  height: 60px;

  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.product-list__link {
  text-decoration: none;
  color: white;
  font-size: 19px;
  line-height: 24px;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .product-list {
    margin: 0 52px;
  }

  .product-list::before {
    content: "";

    position: absolute;
    top: -15px;
    left: 0;

    width: 770px;
    height: 24px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-size: 770px 24px;
  }

  .product-list__item {
    width: 334px;
    padding-top: 30px;
    padding-bottom: 34px;
    padding-left: 36px;
    padding-right: 187px;
  }

  .product-list__item:first-child::before {
    top: 33px;
    left: 256px;
  }

  .product-list__item:last-child::before {
    top: 35px;
    left: 239px;
  }

  .product-list__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1250px) {
  .product-list {
    margin: -11px 100px;
    height: 120px;
  }

  .product-list__item:first-child::before {
    top: 29px;
    left: 449px;
  }

  .product-list__item:last-child::before {
    top: 30px;
    left: 430px;
  }

  .product-list__item {
    width: 525px;
    padding-top: 26px;
    padding-bottom: 34px;
    padding-left: 37px;
    padding-right: 350px;
  }

  .product-list__link {
    font-size: 20px;
    line-height: 30px;
  }
}
