.product-week {
  width: 320px;
  text-align: left;
  padding-bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.product-week__title {
  @include index-title;
  margin-top: 26px;
  margin-bottom: 0;
  padding-left: 32px;
}

.product-week__week-title {
  padding-left: 31px;
  padding-top: 5px;
}

.product-week__text {
  line-height: 24px;
  padding-left: 32px;
  margin-top: 24px;
  padding-right: 40px;
}

.product-week__list {
  table-layout: fixed;
  width: 260px;
  border-collapse: collapse;
  margin-left: 31px;

  font-size: 15px;
  line-height: 20px;
  color: #444444;
  font-weight: normal;
}

.product-week__list-table {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  height: 41px;
}

.product-week__list-table:nth-child(1) {
  box-shadow: none;
}

.product-week__list-item {
  width: 62px;
}

.product-week__list-info {
  width: 129px;
  padding-left: 16px;
}

.product-week__third-column {
  order: 1;
}

.product-week__fourth-column {
  margin: 28px auto;
}

.product-week__zigzag {
  position: relative;
}

.product-week__zigzag-icon {
  position: absolute;

  transform: rotate(180deg);

  left: 0;
  top: 126px;

  width: 319px;
  height: 16px;
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  margin-top: -7px;
  margin-bottom: 26px;
}

.product-week__button {
  @include button;
  font-size: 17px;
  line-height: 20px;
  margin-left: 31px;
}

@media (min-width: 772px) {
  .product-week {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .product-week__first-column {
    display: flex;
    justify-content: flex-start;
  }

  .product-week__second-column {
    width: 334px;
    display: flex;
    flex-direction: column;
  }

  .product-week__third-column {
    width: 293px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .product-week__fourth-column {
    width: 334px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
  }

  .product-week__title {
    width: 440px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 41px;
    padding-left: 0;
  }

  .product-week__week-title {
    flex-basis: 126px;
    text-align: center;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 53px;
    padding-bottom: 54px;
    margin-left: 76px;
  }

  .product-week__text {
    width: 282px;
    font-size: 17px;
    line-height: 30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .product-week__list {
    width: 291px;
    margin-left: 0;
  }

  .product-week__list-info {
    padding-left: 0;
  }

  .product-week__price {
    font-size: 20px;
    line-height: 24px;
    margin-top: -16px;
    margin-bottom: 34px;
  }

  .product-week__button {
    width: 292px;
    margin: 0 auto;
  }

  .product-week__zigzag {
    width: 771px;
  }

  .product-week__zigzag-icon {
    left: -50px;
    top: 145px;

    width: 771px;
    height: 16px;
  }
}

@media (min-width: 1250px) {
  .product-week {
    width: 1050px;
    margin: 0 auto;
  }

  .product-week__title {
    font-size: 53px;
    line-height: 57px;
    flex-basis: 613px;
    padding-left: 26px;
    z-index: 1;
  }

  .product-week__week-title {
    order: -1;
    margin-right: 0;
    margin-left: 0;
    padding-top: 56px;
    padding-left: 20px;
    padding-bottom: 0;
  }

  .product-week__text {
    margin-top: 48px;
    margin-left: 80px;
  }

  .product-week__list {
    margin-left: 80px;
    margin-top: 14px;
  }

  .product-week__first-column {
    margin-top: 91px;
    flex-basis: 74%;
  }

  .product-week__second-column {
    flex-basis: 288px;
    margin-left: auto;
  }

  .product-week__third-column {
    width: 300px;
    margin-top: -112px;
    margin-left: 172px;
  }

  .product-week__fourth-column {
    width: 525px;
    height: 625px;
    z-index: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: -80px;
  }

  .product-week__zigzag {
    width: 1050px;
  }

  .product-week__zigzag-icon {
    left: 0;
    top: 56px;

    width: 1050px;
    height: 23px;
  }
}
