.reviews {
  width: 320px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews__title {
  @include index-title;
  margin-top: 0;
  margin-bottom: 23px;
  padding-left: 30px;
}

.reviews__button {
  @include button;
  font-size: 18px;
  line-height: 20px;
  margin-left: 32px;
}

.reviews__zigzag {
  position: relative;
}

.reviews__zigzag-icon {
  position: absolute;

  transform: rotate(180deg);

  left: 0;
  top: 40px;

  width: 319px;
  height: 16px;
}

@media (min-width: 768px) {
  .reviews {
    width: 768px;
    margin-top: 26px;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    width: 200px;
    font-size: 43px;
    line-height: 50px;
    padding-left: 47px;
    padding-top: 78px;
    order: -1;
  }

  .reviews__button {
    width: 175px;
    height: 52px;
    font-size: 17px;
    order: -1;
    margin-left: auto;
    margin-top: 80px;
    margin-right: 49px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .reviews__zigzag-icon {
    width: 771px;
    top: 68px;
  }
}

@media (min-width: 1250px) {
  .reviews {
    width: 1050px;
    margin-top: 35px;
  }

  .reviews__button {
    margin-top: 78px;
    margin-right: 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 170px;
    padding-top: 69px;
  }

  .reviews__zigzag-icon {
    width: 1052px;
    height: 23px;
    top: 45px;
  }
}
