.review__text {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.review__text br {
  display: none;
}

.review__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: black;
  padding-left: 32px;
  margin-top: 27px;
  margin-bottom: 3px;
}

.review__author-tag {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .review {
    margin-left: 48px;
  }

  .review__text {
    padding-top: 26px;
    padding-right: 42px;
    padding-left: 0;
    font-size: 17px;
  }

  .review__author-name {
    padding-left: 0;
    padding-top: 31px;
    padding-right: 0;
    font-size: 18px;
  }

  .review__author-tag {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: 1150px) {
  .review {
    width: 1150px;
  }

  .review__text {
    padding-left: 124px;
    padding-right: 256px;
  }

  .review__text br {
    display: block;
  }

  .review__author-name {
    padding-left: 0;
    margin-left: 120px;
    width: 268px;
    margin-top: 8px;
  }

  .review__author-tag {
    padding-left: 124px;
    padding-bottom: 59px;
  }
}
