.reviews {
  width: 320px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews__title {
  @include index-title;
  margin-top: 0;
  margin-bottom: 38px;
  padding-left: 30px;
}

.reviews__text {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: black;
  padding-left: 30px;
  margin-top: 40px;
  margin-bottom: 0;
}

.reviews__author-tag {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 30px;
}

.reviews__button {
  @include button;
  font-size: 18px;
  line-height: 20px;
  margin-left: 30px;
}

@media (min-width: 768px) {
  .reviews {
    width: 668px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews__title {
    width: 200px;
    font-size: 43px;
    line-height: 50px;
    padding-left: 0;
    order: -1;
  }

  .reviews__text {
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
  }

  .reviews__author-name {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
  }

  .reviews__author-tag {
    padding-left: 0;
    padding-right: 0;
  }

  .reviews__button {
    width: 175px;
    height: 52px;
    font-size: 17px;
    order: -1;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

}

@media (min-width: 1250px) {
  .reviews {
    width: 768px;
  }

  .reviews__button {
    margin-top: 10px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
