.site-list {
  list-style: none;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.site-list__item {
  text-align: left;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 76px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-list__item-link {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .site-list {
    flex-basis: 386px;
    font-size: 15px;
    box-shadow: none;
    padding-left: 51px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    order: 3;
  }

  .site-list__item-link {
    font-size: 15px;
  }

  .site-list__item {
    box-shadow: none;
    padding-top: 18px;
    padding-bottom: 0;
    padding-left: 0;
    margin: 0;
  }

  .site-list__item--form {
    margin-left: 37px;
  }
}

@media (min-width: 1150px) {
  .site-list {
    flex-basis: 435px;
    order: -1;
    align-items: center;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    margin: 0;
    padding: 0;
  }

  .site-list__item-link {
    font-size: 17px;
  }

  .site-list__item {
    padding-top: 0;
  }

  .site-list__item--catalog {
    padding-left: 51px;
  }

  .site-list__item--form {
    margin-left: 71px;
  }
}
