.social-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  box-shadow: 0 1px 0 #ececec;
  margin: 0;
  padding: 0;
}

.social-list__link {
  display: block;
  text-decoration: none;
  outline: none;
  text-align: center;
}

@media (min-width: 768px) {
  .social-list {
    width: 300px;
  }
}
