.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  box-shadow: 0 1px 0 #ececec;
  margin: 0;
  padding: 0;
}

.social-list__link {
  display: block;
  text-decoration: none;
  opacity: 1;
  width: 29px;
  height: 32px;
  margin-top: 29px;
  margin-bottom: 25px;
  margin-right: 16px;
  margin-left: 16px;
}

.social-list__link--twitter {
  position: relative;
  padding-left: 0;

  &:hover .social-list__icon-twitter {
    fill: #46c1ae;
  }

  &:active .social-list__icon-twitter {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

.social-list__icon-twitter {
  position: absolute;
  top: 3px;
  left: 0;

  width: 23px;
  height: 20px;
}

.social-list__link--facebook {
  position: relative;
  padding-left: 0;

  &:hover .social-list__icon-fb {
    fill: #46c1ae;
  }

  &:active .social-list__icon-fb {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

.social-list__icon-fb {
  position: absolute;
  top: -2px;
  left: 6px;

  width: 15px;
  height: 28px;
}

.social-list__link--instagram {
  position: relative;

  &:hover .social-list__icon-insta {
    fill: #46c1ae;
  }

  &:active .social-list__icon-insta {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

.social-list__icon-insta {
  position: absolute;
  top: 4px;
  left: 5px;

  width: 23px;
  height: 20px;
}

@media (min-width: 768px) {
  .social-list {
    width: 265px;
    height: 82px;
    margin-top: -14px;
    box-shadow: none;
  }
}
