.type-list {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: black;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 27px;
  padding: 0;
}

.type-list__type-item {
  position: relative;
  display: block;
  user-select: none;
  padding-top: 6px;
  padding-left: 66px;

  margin-bottom: 19px;
}

.type-list__type-input + label::before {
  content: "";

  display: block;
  border: solid 2px #444444;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: -3px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.type-list__type-input + label:hover::before,
.type-list__type-input:checked + label:hover::before {
  border: solid 2px #62d1ba;
}

.type-list__type-input + label:active::before,
.type-list__type-input:checked + label:active::before {
  border: solid 2px #444444;
  opacity: 0.3;
}

.type-list__type-input:checked + label::after {
  content: "";

  @include circle;
  position: absolute;
  left: 13px;
  top: 8px;
  width: 16px;
  height: 16px;
}

.type-list__type-input[type="radio"]:focus + label::before {
  border: solid 2px #62d1ba;
}

@media (min-width: 768px) {
  .type-list {
    margin-top: 0;
    padding-top: 0;
    margin-left: 130px;
    font-size: 19px;
  }

  .type-list__type-item:nth-child(1) {
    margin-top: 0;
  }

  .type-list__type-input + label::before {
    width: 47px;
    height: 49px;
    left: 0;
    top: -16px;
  }

  .type-list__type-input:checked + label::after {
    width: 22px;
    height: 22px;
    left: 14px;
    top: -1px;
  }

  .type-list__type-item {
    padding-top: 1px;
    padding-left: 79px;
    margin-top: 57px;
    margin-bottom: 37px;
  }
}

@media (min-width: 1150px) {
  .type-list {
    margin-left: 76px;
    margin-bottom: 0;
  }

  .type-list__type-item {
    margin-bottom: 56px;
  }
}
