.write-us {
  display: block;
  padding-top: 12px;
  padding-bottom: 16px;
  margin-top: 39px;
  margin-bottom: 37px;

  background-color: #ffffff;
  border: solid 2px #444444;

  color: #444444;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }
}

@media (min-width: 768px) {
  .write-us {
    padding-top: 14px;
    padding-bottom: 13px;
    margin-left: 12px;
    margin-right: 18px;
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  padding-left: 42px;
  padding-right: 42px;
}
